.voice_services {
    padding: 100px 0px;
    background: rgb(248, 248, 251);
    position: relative;
    z-index: 0;
}

.voice_services h2 {
    font-size: 33px;
    line-height: 43px;
    color: #314252;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;

}

.voice_services h2 span {
    color:#f47a1f;
}

.voice_services p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
    color: #898989;
    font-family: "Poppins", sans-serif;

}

.voice_services .voice_service_box {
    padding: 25px;
    transition: .2s linear;
    height: 100%;
}

.voice_services .voice_service_box .voice_service_main {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.voice_services .voice_service_box .voice_service_main .voice_service_head h5 {
    color: #314252;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
}

.voice_services .voice_service_box .voice_service_content p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #898989;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

.voice_services .voice_service_box {
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

/* responsive css */
@media (min-width: 1200px) and (max-width: 1399px) {
    .voice_services {
        padding: 80px 0px;
    }
}
@media (max-width: 992px) {
     .voice_services h2 {
        font-size: 28px;
        line-height: 36px;
     }
}

@media (max-width: 768px) {
    .voice_services {
        padding: 50px 0px;
    }

    .voice_services h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .voice_services p {
        font-size: 15px;
        line-height: 24px;
    }
    .voice_services .voice_service_box .voice_service_content p {
         font-size: 15px;
        line-height: 24px;
    }
}

@media (max-width: 480px) {
    .voice_services {
        padding: 40px 0px;
    }

    .voice_services h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .voice_services p {
        font-size: 14px;
        line-height: 24px;
    }
    .voice_services .voice_service_box .voice_service_content p {
         font-size: 14px;
        line-height: 24px;
    }
}