.why_section {
  padding: 100px 0;
  background: #f9f9f9;
  position: relative;
  z-index: 0;
 
  .about_content h2 {
    font-size: 35px;
    line-height: 45px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    color: #314252;
  }
  .about_content p {
    color: #898989;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
    font-family: Poppins, sans-serif;
  }
}

.feature_card {
  background: #ffffff;
  padding: 25px 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  height: 100%;

  &:hover {
    background: #f8ece4;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }

  .icon_box {
    margin-bottom: 20px;

    img {
      max-width: 170px;
      height: auto;
      border-radius: 15px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    color: #314252;
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.7;
    color: #898989;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
}

.btn {
	gap: 10px;
	line-height: 1;
	padding: 0 40px;
	font-size: 16px;
	overflow: hidden;
	font-weight: 600;
	transition: 300ms;
	position: relative;
	align-items: center;
	letter-spacing: 1px;
	display: inline-flex;
	color: var(--bs-white);
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	border-radius: var(--bs-border-radius-pill);
	.btn_icon {
		line-height: 1;
		font-size: 16px;
	}
	.btn_label {
		position: relative;
		display: inline-block;
		padding: 23px 0px 21px;
		transition: transform .4s cubic-bezier(.15,.85,.31,1);
		&:before {
			top: 120%;
			left: 50%;
			width: 100%;
			display: block;
			position: absolute;
			content: attr(data-text);
			transform: translateX(-50%);
		}
	}
	&:hover {
		color: var(--bs-white);
		transform: translateY(-2px);
		background-color: var(--bs-primary);
		border: 1px solid var(--bs-primary);
		box-shadow: 0 10px 30px 0 rgba(244, 122, 31, 0.102);
		.btn_label {
			transform: translateY(-81%);
		}
	}
		&:focus-visible {
			background-color: var(--bs-primary);
			border-color: var(--bs-primary);
			border: 1px solid var(--bs-primary);
			box-shadow: none;
		}
		&:active {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
			border: 1px solid var(--bs-primary) !important;
		}
}

/* Responsive Breakpoints */
@media (max-width: 991px) {
  .feature_card {
    padding: 20px 15px;

    h3 {
      font-size: 17px;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 768px) {
  .why_section {
    padding: 60px 0;

     .about_img img {
      width: 100%;
    }
    .about_content h2 {
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .about_content p {
      font-size: 15px;
      line-height: 24px;
    }
  }

  .feature_card {
    h3 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media (max-width: 575px) {
  .why_section {
    padding: 40px 0;
    
     .about_content p {
      font-size: 14px;
    }
  }

  .feature_card {
    h3 {
      font-size: 15px;
    }
  }
}
