$primary-color: #f47a1f;
$light-color: #fff;
$bg-color: #314252;

.back__preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $bg_color; // dark background
  position: fixed;
  z-index: 999999;
  width: 100%;
  inset: 0;
}

.back__loader_logo {
  position: absolute;

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}

.back__circle_loader {
  width: 120px;
  height: 120px;
  border-style: solid;
  border-width: 6px;
  /* Top and right strong color, bottom and left light color */
  border-top-color: $primary-color;
  border-right-color: $primary-color;
  border-bottom-color: rgba($light-color, 0.6); /* maybe semi-transparent */
  border-left-color: rgba($light-color, 0.6);
  border-radius: 50%;
  animation: spinLoader 1.5s linear infinite;
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Responsive Breakpoints */
@media (max-width: 1200px) {
  .back__circle_loader {
    width: 100px;
    height: 100px;
    border-width: 5px;
  }
  .back__loader_logo img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 992px) {
  .back__circle_loader {
    width: 80px;
    height: 80px;
    border-width: 5px;
  }
  .back__loader_logo img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .back__circle_loader {
    width: 70px;
    height: 70px;
    border-width: 4px;
  }
  .back__loader_logo img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 576px) {
  .back__circle_loader {
    width: 60px;
    height: 60px;
    border-width: 4px;
  }
  .back__loader_logo img {
    width: 30px;
    height: 30px;
  }
}
