.streamline_cloud {
    padding: 100px 0px;
	position: relative;
	z-index: 0;
}

.streamline_cloud p {
    font-size: 16px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
    font-family: "Poppins", sans-serif;

}

.streamline_cloud h2 {
    font-size: 33px;
    line-height: 43px;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;

}

.streamline_cloud h2 span {
    color: rgb(244, 122, 31);
}

.btn {
	gap: 10px;
	line-height: 1;
	padding: 0 40px;
	font-size: 16px;
	overflow: hidden;
	font-weight: 600;
	transition: 300ms;
	position: relative;
	align-items: center;
	letter-spacing: 1px;
	display: inline-flex;
	color: var(--bs-white);
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	border-radius: var(--bs-border-radius-pill);
	.btn_icon {
		line-height: 1;
		font-size: 16px;
	}
	.btn_label {
		position: relative;
		display: inline-block;
		padding: 23px 0px 21px;
		transition: transform .4s cubic-bezier(.15,.85,.31,1);
		&:before {
			top: 120%;
			left: 50%;
			width: 100%;
			display: block;
			position: absolute;
			content: attr(data-text);
			transform: translateX(-50%);
		}
	}
	&:hover {
		color: var(--bs-white);
		transform: translateY(-2px);
		background-color: var(--bs-primary);
		border: 1px solid var(--bs-primary);
		box-shadow: 0 10px 30px 0 rgba(244, 122, 31, 0.102);
		.btn_label {
			transform: translateY(-81%);
		}
	}
		&:focus-visible {
			background-color: var(--bs-primary);
			border-color: var(--bs-primary);
			border: 1px solid var(--bs-primary);
			box-shadow: none;
		}
		&:active {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
			border: 1px solid var(--bs-primary) !important;
		}
}

// responsive start css
@media (min-width: 1200px) and (max-width: 1399px) {
    .streamline_cloud {
        padding: 80px 0px;
    }
}

@media (max-width: 992px) {
   .streamline_cloud h2 {
		font-size: 28px;
		line-height: 36px;
   }
}

@media (max-width: 768px) {
	.streamline_cloud {
		padding: 50px 0px;
	}
	.streamline_cloud p {
		font-size: 15px;
		line-height: 24px;
	}
	.streamline_cloud h2 {
		font-size: 22px;
		line-height: 30px;
	}
	.btn {
			padding: 0 28px;
			font-size: 14px;

			.btn_icon {
				font-size: 14px;
			}

			.btn_label {
				padding: 18px 0 16px;
			}
	    }
}

@media (max-width: 480px) {
	.streamline_cloud {
		padding: 40px 0px;
	}
	.streamline_cloud p {
		font-size: 14px;
		line-height: 24px;
	}
	.streamline_cloud h2 {
		font-size: 20px;
		line-height: 28px;
	}
}