.seo_google_search {
    padding: 100px 0px;
    position: relative;
    z-index: 0;
}

.seo_google_search h2 {
    font-size: 33px;
    line-height: 43px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.seo_google_search h2 span {
    color: rgb(244, 122, 31);
}

.seo_google_search p {
    font-size: 16px;
    line-height: 28px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: "Poppins", sans-serif;
}

/* responsive css */
@media (min-width: 1200px) and (max-width: 1399px) {
    .seo_google_search {
        padding: 80px 0px;
    }
}

@media (max-width: 992px) {
    .seo_google_search h2 {
        font-size: 28px;
        line-height: 36px;
    }
}
@media (max-width: 768px) {
      .seo_google_search {
        padding: 50px 0px;
    }
    .seo_google_search h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .seo_google_search p {
        font-size: 15px;
        line-height: 24px;
  }

}

@media (max-width: 480px) {
      .seo_google_search {
        padding: 40px 0px;
    }
    .seo_google_search h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .seo_google_search p {
        font-size: 14px;
        line-height: 24px;
   }
}