.gamecategory {
  padding: 100px 0;
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-size: 33px;
    line-height: 43px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: Poppins, sans-serif;
  }
}

.gamecategory h2 span {
    color: #f47a1f;
}

.btn {
	gap: 10px;
	line-height: 1;
	padding: 0 40px;
	font-size: 16px;
	overflow: hidden;
	font-weight: 600;
	transition: 300ms;
	position: relative;
	align-items: center;
	letter-spacing: 1px;
	display: inline-flex;
	color: var(--bs-white);
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	border-radius: var(--bs-border-radius-pill);
	.btn_icon {
		line-height: 1;
		font-size: 16px;
	}
	.btn_label {
		position: relative;
		display: inline-block;
		padding: 23px 0px 21px;
		transition: transform .4s cubic-bezier(.15,.85,.31,1);
		&:before {
			top: 120%;
			left: 50%;
			width: 100%;
			display: block;
			position: absolute;
			content: attr(data-text);
			transform: translateX(-50%);
		}
	}
	&:hover {
		color: var(--bs-white);
		transform: translateY(-2px);
		background-color: var(--bs-primary);
		border: 1px solid var(--bs-primary);
		box-shadow: 0 10px 30px 0 rgba(244, 122, 31, 0.102);
		.btn_label {
			transform: translateY(-81%);
		}
	}
		&:focus-visible {
			background-color: var(--bs-primary);
			border-color: var(--bs-primary);
			border: 1px solid var(--bs-primary);
			box-shadow: none;
		}
		&:active {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
			border: 1px solid var(--bs-primary) !important;
		}
}

.sliderWrapper {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: center;

  @media (max-width: 992px) {
    flex-direction: row;
  }
  
  @media (max-width: 768px) {
    flex-direction: row;
  }
}

.sliderColumn {
  width: 180px;

  .item_cat {
    img {
      border-radius: 12px;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.reverseSlider {
  transform: rotate(180deg);

  .slick-slide {
    transform: rotate(180deg);
  }
}

// responsive css
@media (max-width: 1200px) {
  .gamecategory {
    padding: 80px 0;
  }
}

@media (max-width: 992px) {
    .gamecategory h2 {
      font-size: 28px;
      line-height: 36px;
  }
}

@media (max-width: 768px) {
  .gamecategory {
    padding: 50px 0;
  }
  .gamecategory h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .gamecategory p {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .gamecategory {
    padding: 40px 0;
  }

  .gamecategory h2 {
    font-size: 20px;
    line-height: 28px;
  }

   .gamecategory p {
    font-size: 14px;
    line-height: 24px;
  }
  .sliderColumn {
  width: 150px;

  .item_cat {
    img {
      border-radius: 12px;
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
}