.casestudy {
    padding: 100px 0px;
    position: relative;
    z-index: 0;
}
.casestudy h2 {
    font-size: 33px;
    line-height: 43px;
    color: rgb(49, 66, 82);
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
}
.casestudy h2 span {
    color: rgb(244, 122, 31);
}
.casestudy p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    color: #898989;
}
.pro_btn {
    align-items: center;
    display: flex;
    justify-content: end;
}

.btn {
	gap: 10px;
	line-height: 1;
	padding: 0 40px;
	font-size: 16px;
	overflow: hidden;
	font-weight: 600;
	transition: 300ms;
	position: relative;
	align-items: center;
	letter-spacing: 1px;
	display: inline-flex;
	color: var(--bs-white);
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	border-radius: var(--bs-border-radius-pill);
	.btn_icon {
		line-height: 1;
		font-size: 16px;
	}
	.btn_label {
		position: relative;
		display: inline-block;
		padding: 23px 0px 21px;
		transition: transform .4s cubic-bezier(.15,.85,.31,1);
		&:before {
			top: 120%;
			left: 50%;
			width: 100%;
			display: block;
			position: absolute;
			content: attr(data-text);
			transform: translateX(-50%);
		}
	}
	&:hover {
		color: var(--bs-white);
		transform: translateY(-2px);
		background-color: var(--bs-primary);
		border: 1px solid var(--bs-primary);
		box-shadow: 0 10px 30px 0 rgba(244, 122, 31, 0.102);
		.btn_label {
			transform: translateY(-81%);
		}
	}
		&:focus-visible {
			background-color: var(--bs-primary);
			border-color: var(--bs-primary);
			border: 1px solid var(--bs-primary);
			box-shadow: none;
		}
		&:active {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
			border: 1px solid var(--bs-primary) !important;
		}
}

.download_section {
    bottom: 50px;
    left: 15%;
    position: absolute;
    transform: translate(-15%);
}
.casestudy_item {
    margin-bottom: 20px;
    position: relative;
}

.casestudy_item {
    height: 100%;
    max-height: 830px;
}

.casestudy_item video {
    border-radius: 30px;
}

.download_apps {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.name_icon ul {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.name_icon ul li {
    padding-right: 20px;
    border-right: 2px solid rgb(255, 255, 255);
}

.name_icon ul li svg {
    fill: #fff;
    height: 30px;
    width: auto;
}

.name_icon ul li a {
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.case_btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.name_now {
    color: #fff;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
}

.name_icon ul li:last-child {
    border: 0;
}

@media (max-width: 992px) {
    .casestudy h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (max-width: 768px) {
    .casestudy {
      padding: 50px 0px;
    }

    .casestudy h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .casestudy p {
        font-size: 15px;
        line-height: 24px;
    }
}
@media (max-width: 480px) {
    .casestudy {
      padding: 40px 0px;
    }

    .casestudy h2 {
        font-size: 20px;
        line-height: 28px;
    }

    .casestudy p {
        font-size: 14px;
        line-height: 24px;
    }
}




