.robustSection {
  padding: 100px 0;
  background-color: #f9f9f9;
  text-align: center;
  position: relative;
  z-index: 0;
}

.heading {
    font-size: 33px;
    line-height: 43px;
    color: #314252;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;

  span {
   color: #f47a1f;
  }
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 4px;
    background: #f47a1f;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
  }
}

.timelineItem {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;

  .contentBox {
    background: #fdf9f4;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #314252;
      font-family: Poppins, sans-serif;
      font-style: normal;
    }

    p {
    font-size: 16px;
    line-height: 30px;
    color: #898989;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    }
  }
}

.left {
  left: 0;

  .numberCircle {
    right: -22px;
  }
}

.right {
  left: 50%;

  .contentBox {
    background: #f3f5f7;
  }

  .numberCircle {
    left: -22px;
  }
}

.numberCircle {
  position: absolute;
  top: 20px;
  background: #fff;
  color: #f47a1f;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #f47a1f;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  line-height: 40px;
  text-align: center;
  z-index: 1;
}

/* Responsive Styles */
@media (max-width: 992px) {
.robustSection {
  padding: 60px 0;
}
  .timelineItem {
    padding: 20px;
  }
}

@media (max-width: 768px) {
.robustSection {
  padding: 50px 0;
}
  .timeline::before {
   display: none;
  }
.right {
    position: unset;
}
  .timelineItem {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 40px;
  }

  .numberCircle {
    display: none;
  }
  .heading {
    font-size: 20px;
    line-height: 24px;
  }
}
