.services_section {
  padding: 80px 0;
  background: #ffffff;
  position: relative;
  z-index: 0;

  .section_title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: #212529;
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }
}

.service_card {
  background: #f9f9f9;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  height: 456px;

  &:hover {
    background: #f8ece4;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }

  .icon_box {
    margin-bottom: 20px;
    text-align: start;

    img {
    max-width: 170px;
    height: auto;
    border-radius: 15px;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: 700;
    color: #212529;
    margin-bottom: 12px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: start;
  }

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #898989;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: start;
  }
}

/* Responsive Breakpoints */
@media (max-width: 991px) {
  .services_section {
    .section_title {
      font-size: 28px;
    }
  }
  .service_card {
    padding: 20px 15px;

    h3 {
      font-size: 17px;
    }

    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .services_section {
    padding: 60px 0;

    .section_title {
      font-size: 24px;
    }
  }

  .service_card {
    h3 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

@media (max-width: 575px) {
  .services_section {
    padding: 40px 0;

    .section_title {
      font-size: 22px;
    }
  }

  .service_card {
      height: 100% !important;
    h3 {
      font-size: 15px;
    }
  }
}
