.rating_usa {
    padding: 50px 0px;
    position: relative;
}
.rating_usa .rating_box {
    align-items: center;
    display: flex;
}
.rating_svg svg {
    height: 55px;
    width: auto;
}
.rating_content {
    margin-left: 20px;
    text-align: left;
}
.rating_num {
    color: #fff;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0px;
}
.rating_content p {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 0px;
        color: #fff;
        font-weight: 400;
        font-family: Poppins, sans-serif;
        font-style: normal;
}

/* For 1200px and below */
@media (max-width: 1200px) {
  .rating_usa .rating_num {
    font-size: 30px;
    line-height: 36px;
  }
  .rating_svg svg {
    height: 50px;
  }
}

/* For 992px and below */
@media (max-width: 992px) {
  .rating_usa {
    padding: 40px 15px;
  }
  .rating_usa .rating_box {
    flex-wrap: wrap;
    gap: 15px;
  }
  .rating_usa .rating_box {
    justify-content: flex-start;
  }
  .rating_usa .rating_svg {
    flex: 0 0 auto;
  }
  .rating_usa .rating_content {
    margin-left: 0;
    flex: 1 1 100%;
  }
  .rating_usa .rating_num {
    font-size: 28px;
    line-height: 34px;
  }
}

/* For 768px and below */
@media (max-width: 768px) {
  .rating_usa {
    padding: 30px 10px;
  }
  .rating_usa .rating_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .rating_usa .rating_svg svg {
    height: 45px;
  }
  .rating_usa .rating_content {
    margin-left: 0;
    margin-top: 10px;
    text-align: left;
  }
  .rating_usa .rating_num {
    font-size: 24px;
    line-height: 30px;
  }
  .rating_content p {
    font-size: 15px;
    line-height: 24px;
  }
}

/* For 576px and below */
@media (max-width: 576px) {
  .rating_usa {
    padding: 25px 10px;
  }
  .rating_usa .rating_num {
    font-size: 20px;
    line-height: 26px;
  }
  .rating_svg svg {
    height: 40px;
  }
  .rating_content p {
    font-size: 14px;
    line-height: 24px;
  }
}

/* For 480px and below */
@media (max-width: 480px) {
  .rating_usa {
    padding: 30px 0px;
  }
}