.androidbuss {
    padding: 100px 0;
}

.androidbuss h2 {
    font-size: 33px;
    line-height: 43px;
    color: #fff;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    margin-bottom: 20px;
}

.androidbuss h2 span {
    color: #f47a1f;
}

.androidbuss p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.btn {
	gap: 10px;
	line-height: 1;
	padding: 0 40px;
	font-size: 16px;
	overflow: hidden;
	font-weight: 600;
	transition: 300ms;
	position: relative;
	align-items: center;
	letter-spacing: 1px;
	display: inline-flex;
	color: var(--bs-white);
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	border-radius: var(--bs-border-radius-pill);
	.btn_icon {
		line-height: 1;
		font-size: 16px;
	}
	.btn_label {
		position: relative;
		display: inline-block;
		padding: 23px 0px 21px;
		transition: transform .4s cubic-bezier(.15,.85,.31,1);
		&:before {
			top: 120%;
			left: 50%;
			width: 100%;
			display: block;
			position: absolute;
			content: attr(data-text);
			transform: translateX(-50%);
		}
	}
	&:hover {
		color: var(--bs-white);
		transform: translateY(-2px);
		background-color: var(--bs-primary);
		border: 1px solid var(--bs-primary);
		box-shadow: 0 10px 30px 0 rgba(244, 122, 31, 0.102);
		.btn_label {
			transform: translateY(-81%);
		}
	}
		&:focus-visible {
			background-color: var(--bs-primary);
			border-color: var(--bs-primary);
			border: 1px solid var(--bs-primary);
			box-shadow: none;
		}
		&:active {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
			border: 1px solid var(--bs-primary) !important;
		}
}

.androidbuss .buss_padd {
    padding-top: 50px;
}

.androidbuss .androidbuss_box .andoidbuss_content {
    text-align: center;
}

.androidbuss .androidbuss_box .andoidbuss_content h6 {
    color: #fff;
    margin-bottom: 10px;
}

.androidbuss .androidbuss_box:hover {
    background: #fff;
    transition: all .3s ease-in;
}

.androidbuss .androidbuss_box:hover .andoidbuss_content h6 {
    color: #f47a1f;
}

.androidbuss .androidbuss_box:hover .andoidbuss_content p {
    color: #898989;
}

.androidbuss .androidbuss_box .andoidbuss_content p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    font-family: Poppins, sans-serif;
}

.androidbuss .androidbuss_box {
    align-items: center;
    background: hsla(0, 0%, 100%, .1);
    display: flex;
    height: auto;
    margin-bottom: 15px;
    min-height: 180px;
    padding: 0 20px;
    transition: all .3s ease-in;
}
/* Medium desktops / laptops1199px */
@media (max-width: 1199px) {
    .androidbuss {
        padding: 70px 0;
    }
    .androidbuss h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

/* Tablets landscape 992px */
@media (max-width: 992px) {
    .androidbuss {
        padding: 60px 0;
    }
    .androidbuss h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .androidbuss p {
        font-size: 15px;
        line-height: 24px;
    }
    .androidbuss .androidbuss_box {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
}

/* Mobiles 768px */
@media (max-width: 768px) {
    .androidbuss {
        padding: 50px 0;
    }
    .androidbuss .androidbuss_box .andoidbuss_content p {
        font-size: 15px;
        line-height: 24px;
    }

    .androidbuss h2 {
        font-size: 24px;
        line-height: 34px;
    }
    .androidbuss p {
        font-size: 14px;
        line-height: 24px;
    }

    .androidbuss .androidbuss_box {
        flex-direction: column;
        padding: 15px;
    }
    
    .btn {
			padding: 0 28px;
			font-size: 14px;

			.btn_icon {
				font-size: 14px;
			}

			.btn_label {
				padding: 18px 0 16px;
			}
	    }
}

/* Extra small devices <576px */
@media (max-width: 575px) {
    .androidbuss {
        padding: 40px 0;
    }
     .androidbuss .androidbuss_box .andoidbuss_content p {
        font-size: 14px;
        line-height: 24px;
    }
    .androidbuss h2 {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: normal;
    }

    .androidbuss .androidbuss_box {
        flex-direction: column;
        padding: 20px;
        min-height: auto;
    }
}