.game_idea_bg {
    padding: 100px 0px;
    position: relative;
}
.game_idea_bg h2 {
    font-size: 33px;
    line-height: 43px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
}
.game_idea_bg h2 span {
    color: #f47a1f;
}
.game_idea_bg p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    margin-bottom: 20px;
    font-weight: 400;
}
.project_cta_box_wrap {
    aspect-ratio: 1600 / 823;
    padding: 0 0 0 70px;
}
.btn {
	gap: 10px;
	line-height: 1;
	padding: 0 40px;
	font-size: 16px;
	overflow: hidden;
	font-weight: 600;
	transition: 300ms;
	position: relative;
	align-items: center;
	letter-spacing: 1px;
	display: inline-flex;
	color: var(--bs-white);
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	background-color: var(--bs-primary);
	border: 1px solid var(--bs-primary);
	border-radius: var(--bs-border-radius-pill);
	.btn_icon {
		line-height: 1;
		font-size: 16px;
	}
	.btn_label {
		position: relative;
		display: inline-block;
		padding: 23px 0px 21px;
		transition: transform .4s cubic-bezier(.15,.85,.31,1);
		&:before {
			top: 120%;
			left: 50%;
			width: 100%;
			display: block;
			position: absolute;
			content: attr(data-text);
			transform: translateX(-50%);
		}
	}
	&:hover {
		color: var(--bs-white);
		transform: translateY(-2px);
		background-color: var(--bs-primary);
		border: 1px solid var(--bs-primary);
		box-shadow: 0 10px 30px 0 rgba(244, 122, 31, 0.102);
		.btn_label {
			transform: translateY(-81%);
		}
	}
		&:focus-visible {
			background-color: var(--bs-primary);
			border-color: var(--bs-primary);
			border: 1px solid var(--bs-primary);
			box-shadow: none;
		}
		&:active {
			background-color: var(--bs-primary) !important;
			border-color: var(--bs-primary) !important;
			border: 1px solid var(--bs-primary) !important;
		}
}


/* Responsive Styles             */
/* ============================= */
@media (max-width: 992px) {
    .game_idea_bg {
        padding: 80px 0;
    }
    .game_idea_bg h2 {
        font-size: 28px;
        line-height: 36px;
    }
    .project_cta_box_wrap {
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    .game_idea_bg {
        padding: 60px 15px;
    }
    .game_idea_bg h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .game_idea_bg p {
        font-size: 15px;
        line-height: 24px;
		max-width: 500px;
    }
}

@media (max-width: 480px) {
	.project_cta_box_wrap {
		aspect-ratio: 1000 / 923;
		padding: 0 0 0 20px;
	}
	.project_cta_box_wrap {
		background-size: auto !important;
		border-radius: 20px;
	}
    .game_idea_bg {
        padding: 50px 0px;
    }
    .game_idea_bg h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .game_idea_bg p {
        font-size: 14px;
        line-height: 24px;
    }
}