.web_visibility {
    padding: 100px 0px;
    position: relative;
    z-index: 0;
}

.web_visibility h2 span {
    color: #f47a1f;
}

.web_visibility h2 {
    color: #314252;
    font-size: 33px;
    line-height: 43px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.web_visibility p {
    color: #898989;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
    font-style: normal;
    font-family: "Poppins", sans-serif;
}

  @media (max-width: 1200px) {
      .web_visibility {
          padding: 80px 0px;
      }
  }

  @media (max-width: 992px) {
    .web_visibility h2 {
      font-size: 28px;
      line-height: 36px;
    }
     .web_visibility {
          padding: 50px 0px;
      }
  }

  // Mobile adjustments
  @media (max-width: 768px) {
    .web_visibility {
          padding: 50px 0px;
    }
    .web_visibility h2 {
      font-size: 22px;
      margin-top: 20px;
      line-height: 30px;
    }

    .web_visibility p {
      font-size: 15px;
      line-height: 24px;
    }
  }

  // Small mobile
  @media (max-width: 480px) {
    .web_visibility {
        padding: 40px 0px;
    }

    .web_visibility h2 {
      font-size: 20px;
      line-height: 28px;
    }

     .web_visibility p {
      font-size: 14px;
      line-height: 24px;
    }
  }