/* andbusiness */
.androidbuss {
    padding: 100px 0px;
    background: #314252;
    z-index: 0;
    position: relative;
}

.androidbuss h2 {
    font-size: 33px;
    line-height: 43px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.androidbuss h2 span {
    color: #f47a1f;
}

.androidbuss p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.androidbuss .buss-padd {
    padding-top: 50px;
}

.androidbuss .androidbuss_box {
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    align-items: center;
    background: hsla(0, 0%, 100%, .1);
    display: flex;
    transition: all .3s ease-in;
}

.androidbuss .androidbuss_box .andoidbuss_content {
    text-align: center;
}

.androidbuss .androidbuss_box .andoidbuss_content h6 {
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 10px;
}

.androidbuss .androidbuss_box .andoidbuss_content p {
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.androidbuss .androidbuss_box:hover {
    background: #fff;
    transition: all .3s ease-in;
}

.androidbuss .androidbuss_box:hover .andoidbuss_content h6 {
    color: #f47a1f;
}

.androidbuss .androidbuss_box:hover .andoidbuss_content p {
    color: #898989;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .androidbuss {
        padding: 80px 0px;
    }
}
@media (max-width: 992px) {
     .androidbuss h2 {
        font-size: 28px;
        line-height: 36px;
     }
}

@media (max-width: 768px) {
    .androidbuss {
        padding: 50px 0px;
    }
    .androidbuss h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .androidbuss p {
        font-size: 15px;
        line-height: 24px;
    }
    .androidbuss .androidbuss_box .andoidbuss_content p {
        font-size: 15px;
        line-height: 24px;
    }
}
@media (max-width: 480px) {
    .androidbuss {
        padding: 40px 0px;
    }
    .androidbuss h2 {
        font-size: 20px;
        line-height: 28px;
    }
      .androidbuss p {
        font-size: 14px;
        line-height: 24px;
    }
     .androidbuss .androidbuss_box .andoidbuss_content p {
        font-size: 14px;
        line-height: 24px;
    }
}