.webportal_diffrence {
    padding: 100px 0px;
    position: relative;
    z-index: 0;
}
.webportal_diffrence h2 {
    font-size: 33px;
    line-height: 43px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
    color: #314252;
}
.webportal_diffrence h4 {
    font-size: 20px;
    line-height: 30px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
    color: #314252;
}

.webportal_diffrence h2 span {
   color: #f47a1f;
}

.webportal_diffrence ul li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
    color: #898989;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    list-style: none;
    margin-bottom: 0;
}

.webportal_diffrence ul li:before {
    background: #f47a1f;
    border-radius: 50px;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 8px;
}

/* Large screens (1200px and above) */
@media (min-width: 1200px) {
  .webportal_diffrence h2 {
    font-size: 36px;
    line-height: 46px;
  }
  .webportal_diffrence h4 {
    font-size: 22px;
    line-height: 32px;
  }
}

@media (max-width: 1199px) {
  .webportal_diffrence {
    padding: 80px 0;
  }
  .webportal_diffrence h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .webportal_diffrence h4 {
    font-size: 19px;
    line-height: 28px;
  }
}

@media (max-width: 991px) {
  .webportal_diffrence {
    padding: 70px 0;
  }
  .webportal_diffrence h2 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
  .webportal_diffrence h4 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .webportal_diffrence {
    padding: 50px 0;
  }
  .webportal_diffrence h2 {
    font-size: 22px;
    line-height: 30px;
  }
  .webportal_diffrence h4 {
    font-size: 17px;
    line-height: 25px;
  }
  .webportal_diffrence ul li {
    font-size: 15px;
    line-height: 28px;
    padding-left: 18px;
  }
  .webportal_diffrence ul li:before {
    top: 12px;
    height: 7px;
    width: 7px;
  }
  .webportal_diffrence svg {
    display: none;
  }
}

@media (max-width: 575px) {
  .webportal_diffrence {
    padding: 40px 0;
  }
  .webportal_diffrence h2 {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .webportal_diffrence h4 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .webportal_diffrence ul li {
    font-size: 14px;
    line-height: 24px;
  }
}