.rating_custom_software {
    padding: 100px 0px;
    position: relative;
    z-index: 0;
}

.rating_custom_software .rating_main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rating_custom_software .rating_main .rating_item .rating_flex {
    display: flex;
    align-items: center;
}

.rating_custom_software .rating_main .rating_item .rating_flex .rating_content {
    margin-left: 20px;
}

.rating_custom_software .rating_main .rating_item .rating_flex .rating_content h3 {
    font-size: 45px;
    line-height: 55px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 600;
}

.rating_custom_software .rating_main .rating_item .rating_flex .rating_content p {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
}

.rating_custom_software {
    padding: 50px 0px;

}

/* ---------- For 1200px and below ---------- */
@media (max-width: 1200px) {
    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

/* ---------- For 992px and below ---------- */
@media (max-width: 992px) {
    .rating_custom_software {
        padding: 40px 0;
    }

    .rating_custom_software .rating_main .rating_item {
        flex: 1 0 45%;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content h3 {
        font-size: 36px;
        line-height: 46px;
        letter-spacing: normal;
    }
    .rating_custom_software .rating_main {
        row-gap: 20px;
    }
}

/* ---------- For 768px and below ---------- */
@media (max-width: 769px) {
    .rating_custom_software {
        padding: 35px 0;
    }

 
    .rating_custom_software .rating_main .rating_item {
        flex: 1 0 50%;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex {
        flex-direction: row;
        align-items: center;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content h3 {
        font-size: 32px;
        line-height: 40px;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content p {
        font-size: 15px;
        line-height: 24px;
    }
}

/* ---------- For 576px and below ---------- */
@media (max-width: 576px) {
    .rating_custom_software {
        padding: 30px 0;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content {
        margin-left: 0;
        margin-top: 10px;
        text-align: left;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content h3 {
        font-size: 28px;
        line-height: 36px;
    }

     .rating_custom_software .rating_main .rating_item {
        flex: 1 0 100%;
    }
        .rating_svg svg {
        width: 50px;
        height: auto;
    }
    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content p {
        font-size: 14px;
        line-height: 24px;
    }
}

/* ---------- For 480px and below ---------- */
@media (max-width: 480px) {
    .rating_custom_software {
        padding: 25px 0;
    }

    .rating_custom_software .rating_main .rating_item .rating_flex .rating_content h3 {
        font-size: 24px;
        line-height: 32px;
    }
}