.about_banner_section {
    padding: 100px 0px;
    background-color: #f9f9f9;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.breadcrumb {
    display: flex;
    padding: 0px;
    justify-content: flex-start;
    gap: 40px;
    position: relative;
    margin-bottom: 0px;
}

.breadcrumb li:last-child a {
    color: #f47a1f;
}

.breadcrumb li {
    list-style: none;
}

.breadcrumb li a {
    color: #314252;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 28px;
    font-family: Poppins, sans-serif;
}

.breadcrumb li:after {
    background-image: url('/images/about/download.svg');
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    left: 60px;
    top: 10px;
    width: 17px;
}

.banner_content {
    padding-right: 40px;
}

.example h1 {
    font-size: 34px;
    line-height: 43px;
    color: #314252;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
}
.banner_content .example {
    position: relative;
}
.example:after {
    color: #e2e2e2;
    content: attr(data-text);
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    left: 0;
    letter-spacing: -.03em;
    opacity: .25;
    position: absolute;
    font-size: 110px;
    line-height: 0px;
    width: 1130px;
    bottom: 0;
    z-index: -1;
}

.banner_content_txt p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #898989;
    font-style: normal;
    font-family: Poppins, sans-serif;
}

.services_banner .banner_content_txt ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
}

.banner_content_txt ul {
    margin-top: 30px;
    padding-left: 20px;
}

.banner_content_txt ul li {
    color: #898989;
    line-height: normal;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    position: relative;
    list-style: none;
}

.banner_content_txt ul li:after {
    background: #314252;
    border-radius: 50%;
    content: "";
    position: absolute;
     height: 6px;
    left: -15px;
    top: 7px;
    width: 6px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .about_banner_section {
        padding: 80px 0px;
    }
}
@media (max-width: 1199.98px) {
  .example::after {
    display: none;
  }
}
/* Tablets */
@media (max-width: 1024px) {
    
.services_banner .banner_content_txt ul {
    display: grid;
    grid-template-columns: 1fr;
}
  .banner_content {
    padding-right: 0;
  }

  .banner_content h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .about_banner_section {
    padding: 50px 0px;
  }

  .banner_content_txt ul {
    text-align: left;
    display: inline-block;
  }

  .banner_content h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .example::after {
    display: none;
  }

  .services_banner {
    padding: 30px 0;
  }

  .banner_content_txt p {
    font-size: 15px;
    line-height: 24px;
  }
}

/* Small Mobile */
@media (max-width: 425px) {
  .about_banner_section {
    padding: 40px 0px;
  }
  .banner_content h1 {
    font-size: 20px;
    line-height: 28px;
  }

  .banner_content_txt p {
    font-size: 14px;
    line-height: 24px;
  }
}