.difference_markting {
    padding: 100px 0px;
}

.difference_markting h2 {
    font-size: 33px;
    line-height: 43px;
    color: rgb(49, 66, 82);
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.difference_markting h2 span {
    color: rgb(244, 122, 31);
}

.difference_markting p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;

}

.difference_scroll .digital_difference_main .digital_item .digital_flex {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num {
    width: 50px;
    height: 50px;
    font-size: 17px;
    flex: 0 0 9%;
    position: relative;
    font-weight: 600;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: #092c48;
}

.difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num_box {
    padding: 35px 25px;
    flex: 0 0 91%;
    max-width: 450px;
    margin-bottom: 30px;
    background: #081c28;
    height: 100%;
    border-radius: 10px;
}

.num_box {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1.5px #f47a1f;
    margin-bottom: 10px;
}

.difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num_box h5 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 600;
    font-style: normal;
}

.difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num_box p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

.difference_markting .difference_scroll {
    overflow: auto;
    scrollbar-width: none;
    position: relative;
    height: 750px;
    padding: 0 10px 0 10px;
}

.difference_markting .difference_scroll .digital_difference_main:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background: #092c48;
    z-index: -1;
    left: 25px;
    top: 0px;
}

.difference_markting .difference_scroll .digital_difference_main {
    position: relative;
}

.difference_markting .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #092c48;
    border-radius: 50px;
    top: 25px;
    height: 65px;
    width: 65px;
}

/* ====== Large Tablets (<= 1200px) ====== */
@media (max-width: 1200px) {
    .difference_markting {
        padding: 80px 0px;
    }
    .difference_markting h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .difference_scroll .digital_difference_main .digital_item .digital_flex {
        column-gap: 20px;
    }
}

/* ====== Medium Devices (<= 992px) ====== */
@media (max-width: 992px) {
    .difference_markting {
        padding: 70px 0px;
    }
    .difference_markting h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num_box {
        padding: 30px 20px;
    }
    .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num {
        flex: 0 0 auto;
    }
}

/* ====== Small Tablets & Large Mobiles (<= 768px) ====== */
@media (max-width: 768px) {
    .difference_markting {
        padding: 60px 0px;
        text-align: center;
    }
    .difference_scroll .digital_difference_main .digital_item .digital_flex {
        align-items: flex-start;
    }
    .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num {
        margin-bottom: 10px;
    }
      .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num_box {
        max-width: 100%;
    }
     .difference_markting p {
        font-size: 15px;
        line-height: 24px;
    }
}

/* ====== Mobile Devices (<= 576px) ====== */
@media (max-width: 576px) {
    .difference_markting {
        padding: 50px 0px;
    }
    .difference_markting h2 {
        font-size: 24px;
        line-height: 32px;
    }
    .difference_markting p {
        font-size: 14px;
        line-height: 24px;
    }
    .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num_box h5 {
        font-size: 16px;
        line-height: 26px;
    }
}

/* ====== Extra Small Devices (<= 480px) ====== */
@media (max-width: 480px) {
    .difference_markting {
        padding: 40px 0px;
    }
    .difference_markting h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
    .num_box {
        font-size: 20px;
        -webkit-text-stroke: 1px #f47a1f;
    }
    .difference_markting .difference_scroll .digital_difference_main .digital_item .digital_flex .digital_num::after {
        border: none;
    }
    .difference_scroll .digital_difference_main .digital_item .digital_flex {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .difference_markting .difference_scroll .digital_difference_main:before {
        width: auto;
    }
}