.premium_dubai_services {
    padding: 100px 0px;
    position: relative;
    z-index: 0;
}

.premium_dubai_services h2 {
    font-size: 33px;
    line-height: 43px;
    color: #314252;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    margin-bottom: 20px;
}

.premium_dubai_services h2 span {
    color: #f47a1f;
}

.premium_dubai_services p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
    font-family: Poppins, sans-serif;
}

.pre_services_main {
    aspect-ratio: 1;
    position: relative;
    padding: 0 20px;
    border-radius: 10px;
}

.pre_services_main .content {
    position: absolute;
    bottom: 20px;
}

.pre_services_main .content .content_flex {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.icon {
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head h5 {
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.blue_box {
    width: 100%;
    padding: 35px 25px;
    height: 100%;
    position: absolute;
    left: 0;
    background: #092c48;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

.service_blue_flex {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 20px;
}

.service_blue_flex .icon {
    height: 60px;
    width: 60px;
}

.service_blue_flex .head h5 {
    margin-bottom: 0;
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.blue_box p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-style: normal;
}

.pre_services_main:hover .blue_box {
    opacity: 1;
    visibility: visible;
}


.arrow svg {
    height: 32px;
    width: auto;
}
// =================responsive =====================//
/* Large Tablets (<= 1200px) */
@media (max-width: 1200px) {
    .premium_dubai_services {
        padding: 80px 0px;
    }
    .premium_dubai_services h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .service_blue_flex .head h5 {
        font-size: 22px;
        line-height: 32px;
    }
}

/* Medium Devices (<= 992px) */
@media (max-width: 992px) {
    .premium_dubai_services {
        padding: 70px 0px;
    }
    .premium_dubai_services h2 {
        font-size: 28px;
        line-height: 36px;
    }
  
    .pre_services_main .content .content_flex {
        column-gap: 30px;
    }
    .service_blue_flex .icon {
        height: 50px;
        width: 50px;
    }
    .service_blue_flex .head h5 {
        font-size: 20px;
        line-height: 28px;
    }
}

/* Small Tablets & Large Mobiles (<= 768px) */
@media (max-width: 768px) {
    .premium_dubai_services {
        padding: 60px 0px;
    }

    .premium_dubai_services h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .premium_dubai_services p {
        font-size: 15px;
        line-height: 24px;
    }
    .pre_services_main {
        padding: 0 15px;
        background-size: contain;
    }
    .pre_services_main .content .content_flex {
        flex-direction: row;
        align-items: flex-start;
        row-gap: 10px;
    }
    .icon {
        height: 50px;
        width: 50px;
    }
    .arrow svg {
        height: 28px;
    }
}

/* Mobile Devices (<= 576px) */
@media (max-width: 576px) {
    .premium_dubai_services {
        padding: 50px 0px;
    }
    .premium_dubai_services h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .premium_dubai_services p {
        font-size: 14px;
        line-height: 24px;
    }
    .service_blue_flex {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 8px;
    }
    .service_blue_flex .icon {
        height: 45px;
        width: 45px;
    }
    .service_blue_flex .head h5 {
        font-size: 18px;
        line-height: 26px;
    }
    .arrow svg {
        height: 24px;
    }
}

/* Extra Small Devices (<= 480px) */
@media (max-width: 480px) {
    .premium_dubai_services {
        padding: 40px 0px;
    }
    .premium_dubai_services h2 {
        font-size: 20px;
        line-height: 28px;
    }
    .icon {
        height: 40px;
        width: 40px;
    }
    .arrow svg {
        height: 22px;
    }
}