.timelineSection {
    padding: 100px 0px;
    position: relative;
    z-index: 0;
}
.timelineSection h2 {
    font-family: "Poppins", sans-serif;
    font-size: 33px;
    line-height: 43px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    max-width: 950px;
    margin: auto;
}

.timelineSection h2 span {
    color: #f47a1f;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.timelineText {
    font-size: 16px;
    line-height: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #898989;
    max-width: 900px;
    margin: auto;
}

.timelineText a {
    font-weight: 700;
    color: #f47a1f;
}
.timelineBox {
    background: #fff;
    border-left: 5px solid #f47a1f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 50px 30px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 8px;
    height: 100%;
}
.timelineBox::before {
  content: attr(data-step);
  position: absolute;
  top: -15px;
  left: -25px;
  background: #f47a1f;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.timelineBox h4 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: 28px;
    color: #000;
}
.timelineBox p {
    color: #898989;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
/* ========== Responsive Breakpoints ========== */

/* Large Devices (desktops, <1200px) */
@media (max-width: 1200px) {
 .timelineSection {
    padding: 80px 0px;
 }

  .timelineBox {
    padding: 40px 25px;
  }
}

/* Medium Devices (tablets, <992px) */
@media (max-width: 992px) {
  .timelineSection {
    padding: 80px 0px;
  }

  .timelineSection h2 {
    font-size: 28px;
    line-height: 36px;
  }

  .timelineText {
    font-size: 15px;
    line-height: 26px;
  }

  .timelineBox {
    padding: 35px 20px;
  }

  .timelineBox::before {
    top: -12px;
    left: -20px;
    width: 35px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
  }
}

/* Small Devices (mobile landscape, <768px) */
@media (max-width: 768px) {
  .timelineSection {
    padding: 60px 0px;
  }

  .timelineSection h2 {
    font-size: 22px;
    line-height: 30px;
  }

  .timelineText {
    font-size: 14px;
    line-height: 24px;
  }

  .timelineBox {
    padding: 30px 18px;
  }

  .timelineBox h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .timelineBox p {
    font-size: 14px;
    line-height: 24px;
  }
}

/* Extra Small Devices (mobile portrait, <576px) */
@media (max-width: 576px) {
  .timelineSection h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .timelineText {
    font-size: 13px;
    line-height: 22px;
    padding: 0 10px;
  }

  .timelineBox {
    padding: 25px 15px;
  }

  .timelineBox::before {
    top: -10px;
    left: -15px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
}
