/* ================== Desktop Styles (Default) ================== */
.rating_usa {
    padding: 50px 0;
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.rating_usa .rating_box {
    align-items: center;
    display: flex;
}

.rating_box .rating-svg svg {
    height: 55px;
    width: auto;
}

.rating_usa .rating_box .rating_content {
    margin-left: 20px;
}

.rating_usa .rating_box .rating_content .rating_num {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    font-family: Poppins, sans-serif;
}

.rating_usa .rating_box .rating_content p {
    font-size: 16px;
    line-height: 28px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    color: #fff;
}

/* ================== Responsive Styles ================== */

/* Tablets (<= 1200px) */
@media (max-width: 1200px) {
    .rating_usa {
        padding: 40px 0;
    }
    .rating_box .rating-svg svg {
        height: 50px;
    }
    .rating_usa .rating_box .rating_content .rating_num {
        font-size: 32px;
        line-height: 38px;
    }
}

/* Medium Devices (<= 992px) */
@media (max-width: 992px) {
    .rating_usa {
        padding: 35px 0;
    }
    .rating_usa .rating_box .rating_content {
        margin-left: 15px;
    }
    .rating_usa .rating_box .rating_content .rating_num {
        font-size: 30px;
        line-height: 36px;
    }
    .rating_usa .rating_box .rating_content p {
        font-size: 15px;
        line-height: 24px;
    }
}

/* Small Tablets & Large Mobiles (<= 768px) */
@media (max-width: 768px) {
    .rating_usa .rating_box {
        flex-direction: column;
        text-align: center;
    }
    .rating_usa .rating_box .rating_content {
        margin-left: 0;
        margin-top: 10px;
    }
    .rating_box .rating-svg svg {
        height: 45px;
    }
    .rating_usa .rating_box .rating_content .rating_num {
        font-size: 26px;
        line-height: 32px;
    }
}

/* Mobile Devices (<= 576px) */
@media (max-width: 576px) {
    .rating_usa {
        padding: 30px 0;
    }
    .rating_box .rating-svg svg {
        height: 40px;
    }
    .rating_usa .rating_box .rating_content .rating_num {
        font-size: 22px;
        line-height: 28px;
    }
    .rating_usa .rating_box .rating_content p {
        font-size: 14px;
        line-height: 24px;
    }
}

/* Extra Small Devices (<= 480px) */
@media (max-width: 480px) {
    .rating_box .rating-svg svg {
        height: 36px;
    }
    .rating_usa .rating_box .rating_content .rating_num {
        font-size: 20px;
        line-height: 26px;
    }

}
