.partner_usa {
  padding: 100px 0px;
  position: relative;
  background-color: #f8f8fb;
  transition: background 0.3s ease;
}

.partner_content h2 {
  font-size: 33px;
  line-height: 43px;
  color: #314252;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

.partner_content h2 span {
    color: #f47a1f;
}

.partner_usa p {
  color: #898989;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
}

.partner_num {
  font-size: 90px;
  line-height: 90px;
  margin-bottom: 10px;
  color: #314252;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  transition: transform 0.4s ease, color 0.4s ease;
}

.partner_para p {
  color: #898989;
  padding-right: 35px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
}

.partner_padd {
  padding-top: 80px;
}

/* Hover effect */
.partner_num:hover {
  color: #f47a1f;
  transform: scale(1.05);
}

/* Responsive styles */
@media (max-width: 992px) {
  .partner_usa {
    padding: 80px 0;
  }
  .partner_content h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .partner_num {
    font-size: 60px;
    line-height: 65px;
  }
}
@media (max-width: 768px) {
  .partner_usa {
    padding: 60px 0;
  }
  .partner_content h2 {
    font-size: 22px;
    line-height: 32px;
  }
  .partner_num {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .partner_num {
    font-size: 40px;
  }
}
