.wide_range_software {
    padding: 100px 0px;
}

.wide_range_software h2 {
    color: #fff;
    font-size: 33px;
    line-height: 43px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    font-family: Poppins, sans-serif;
    margin-bottom: 20px;
}

.wide_range_software h2 span {
    color: #f47a1f;
}

.wide_range_software p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 20px;
    font-style: normal;
    font-family: Poppins, sans-serif;
}

.wide_range_software .wide_list ul li:before {
    content: "";
    width: 24px;
    height: 24px;
    top: -2px;
    left: 0;
    position: absolute;
    background-image: url(/images/backgrounds/download.svg);
    font-size: 13px;
    line-height: 22px;

}

.wide_range_software .wide_list ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}

.wide_range_software .wide_list ul li {
    flex: 1 0 25%;
    position: relative;
    padding-left: 30px;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    list-style: none;
}

/* ==============================
   Large Tablets (<= 1200px)
============================== */
@media (max-width: 1200px) {
    .wide_range_software h2 {
        font-size: 30px;
        line-height: 40px;
    }
    .wide_range_software .wide_list ul li {
        flex: 1 0 33.333%;
    }
}

/* ==============================
   Tablets (<= 992px)
============================== */
@media (max-width: 992px) {
    .wide_range_software {
        padding: 80px 0;
        text-align: center;
    }
    .wide_range_software h2 {
        font-size: 28px;
        line-height: 38px;
    }
    .wide_range_software .wide_list ul {
        justify-content: center;
    }
    .wide_range_software .wide_list ul li {
        flex: 1 0 50%;
    }
}

/* ==============================
   Large Mobiles (<= 768px)
============================== */
@media (max-width: 768px) {
    .wide_range_software {
        padding: 60px 0;
    }
    .wide_range_software h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .wide_range_software p {
        font-size: 15px;
        line-height: 28px;
    }
    .wide_range_software .wide_list ul li {
        flex: 1 0 50%;
        font-size: 14px;
        text-align: justify;
    }
}

/* ==============================
   Small Mobiles (<= 576px)
============================== */
@media (max-width: 576px) {
    .wide_range_software {
        padding: 50px 0;
    }
    .wide_range_software p {
        font-size: 14px;
        line-height: 24px;
    }
    .wide_range_software h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .wide_range_software .wide_list ul li {
        padding-left: 28px;
        font-size: 13px;
    }
     .wide_range_software .wide_list ul li {
        flex: 1 0 100%;
        font-size: 14px;
        text-align: justify;
    }
}